body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message {
    padding: 10px 15px;
    margin-bottom: 20px;
    width: 30%;
    border-radius: 5px;
    text-align: center;
}

.message.error {
    background-color: #ffe5e5;
    color: #d8000c
}

.message.success {
    background-color: #e5ffe6;
    color: #0a9b00
}

.person-detail {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.person-detail p {
    margin: 0 0 5px;
}

p.name {
    font-size: 1.2em;
    font-weight: bold;
} 

form {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    padding: 15px;
    border-radius: 8px;
    width: 30%;
    text-align: center;
}

form input[type="text"] {
    padding: 8px;
    width: -webkit-fill-available;
    margin: 20px 0 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form input[type="submit"] {
    padding: 8px 15px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #0056b3;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.btn-link {
    color: #333;
    background-color: transparent;
    text-decoration: none;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-decoration: none;  
    padding: 10px 20px;
    margin-left: auto;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-link:hover {
    background-color: #f4f4f9;
}

.separator {
    margin-top: 20px;
    width: 80%;
    border-top: 2px solid #ccc;
}

.assignments-container {
    width: 80%;
    margin-top: 20px;
}

.person-name {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
}

.year-group {
    margin-bottom: 30px;
}

.year-heading {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.assignment-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.assignment-card .date-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #007BFF;
    color: white;
    width: 70px;
    height: 70px;
    text-align: center;
    border-radius: 8px;
    font-weight: bold;
}

.assignment-card .date-box .month {
    font-size: 0.9em;
}

.assignment-card .date-box .day {
    font-size: 1.8em;
}

.assignment-card .details,
.assignment-card .status {
    flex-grow: 1;
    margin-left: 40px;
}

.assignment-card .details {
    text-align: left;
    width: 40%;
}

.assignment-card .details .category {
    /* color: #007BFF; */
    font-size: 1.1em;
}

.assignment-card .status {
    text-align: left;
    width: 20%;
}

.assignment-card .edit {
    display: flex;
    width: 20%;
    justify-content: space-around;
}

.assignment-card .edit a button {
    color: #1a1a1a;
    font-size: 1em;
    padding: 10px 5px;
    border: 1px solid rgb(173, 173, 173);
    background-color: rgb(228, 228, 228);
    border-radius: 25px;
    width: 80px;
    transition: background-color 0.3s;
}

.assignment-card .edit a button:hover {
    background-color: rgb(200, 200, 200);
    cursor: pointer;
}