body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f4f9;
    color: #333;
}

h1 {
    color: #2c3e50;
    margin: 30px 10px 10px;
}

h3 {
    color: #2c3e50;
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 20px auto;
}

.message {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: center;
}
.message.error {
    background-color: #ffe5e5;
    color: #d8000c
}

.message.success {
    background-color: #e5ffe6;
    color: #0a9b00
}

.form-container, .assignments-container {
    flex: 1;
    margin: 10px;
    padding: 20px;
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-container {
    height: fit-content;
    padding-bottom: 30px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"], select {
    width: 100%;
    padding: 8px;
    margin-bottom: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="radio"] {
    margin-right: 5px;
}

input[type="submit"] {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #2980b9;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

input[type="submit"], .btn-link {
    text-align: center;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #3498db;
    color: #fff;
    border: none;
}

input[type="submit"]:hover {
    background-color: #2980b9;
}

.btn-link {
    color: #333;
    background-color: transparent;
    text-decoration: none;
    border: 1px solid #ddd;
}

.btn-link:hover {
    background-color: #f4f4f9;
}

.form-container {
    margin-right: 15px;
    max-width: 35%;
}

.assignments-container {
    max-width: 60%;
}

.assignment-section h4 {
    color: #2c3e50;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}

.assignment {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px 10px 10px 0;
    background: #f9f9f9;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    width: calc(48% - 20px);
    display: inline-block;
    vertical-align: top;
}

.assignment .atitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.assignment strong {
    font-size: 1.1rem;
    color: #34495e;
}

.assignment p {
    margin: 0;
    font-size: 0.9rem;
}

.assignment .acategory {
    display: inline-block;
    padding: 5px 6px;
    background-color: #3498db;
    color: white;
    font-size: 1em;
    border-radius: 5px;
}

.assignment button {
    margin: 5px 0;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    font-size: 0.9rem;
    cursor: pointer;
}

.assignment button.aedit {
    background-color: #27ae60;
    color: white;
}

.assignment button.aedit:hover {
    background-color: #219150;
}

.assignment button.adelete {
    background-color: #e74c3c;
    color: white;
}

.assignment button.adelete:hover {
    background-color: #c0392b;
}

@media (max-width: 768px) {
    .assignment {
        width: 100%;
    }
}