.container {
    width: 90%;
    max-width: 800px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
    color: #444;
}
.message {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: center;
}
.message.error {
    background-color: #ffe5e5;
    color: #d8000c;
}

.assignment {
    display: block;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px 15% 10px 15%;
    background: #f9f9f9;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    width: 70%;
    display: inline-block;
}

.assignment .atitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.assignment p {
    margin: 0;
}

.assignment .acategory {
    display: inline-block;
    padding: 5px 6px;
    background-color: #3498db;
    color: white;
    font-size: 1em;
    border-radius: 5px;
    font-style: normal;
    font-weight: normal;
}

.assignment .adate {
    display: inline-block;
    padding: 5px 6px;
    font-size: 1em;
    border: 1px solid rgba(145, 145, 145, 0.7);
    border-radius: 5px;
    font-style: normal;
    font-weight: normal;
}

.atitle {
    font-weight: bold;
    font-size: 1.2em;
}
form {
    text-align: center;
}
form p {
    font-size: 1em;
    margin-bottom: 10px;
}
input[type="submit"] {
    background-color: #d9534f;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #c9302c;
}
.back-link {
    text-align: center;
    margin-top: 20px;
}
.back-link a {
    text-decoration: none;
    color: #0275d8;
    font-weight: bold;
}
.back-link a:hover {
    color: #014c8c;
}