h3 {
    color: #2c3e50;
    margin: 0;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 20px auto;
}

.form-container, .assignments-container {
    flex: 1;
    margin: 10px;
    padding: 20px;
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-container {
    height: fit-content;
    padding-bottom: 30px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"], select {
    width: 100%;
    padding: 8px;
    margin-bottom: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="radio"] {
    margin-right: 5px;
}

input[type="submit"] {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #2980b9;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.form-container {
    margin-right: 15px;
    max-width: 35%;
}

.assignments-container {
    max-width: 60%;
}

div.week-details {
    display: flex;
    justify-content: left;
}

.week-details p {
    padding: 5px 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.1);
    margin: 0;
    margin-right: 5px;
}

.week-details a {
    padding: 5px 10px;
    margin: 0;
    margin-left: 10px;
}

.week-details .plabel {
    border: none;
    margin-left: auto;
    padding: 7px 10px 3px;
    background-color: rgba(0, 0, 0, 0);
}

.assignment-section h4 {
    color: #2c3e50;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}

.assignment {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px 10px 10px 0;
    background: #f9f9f9;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    width: calc(48% - 20px);
    display: inline-block;
    vertical-align: top;
}

.assignment .atitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.assignment strong {
    font-size: 1.1rem;
    color: #34495e;
}

.assignment p {
    margin: 0;
    font-size: 0.9rem;
}

.assignment .acategory {
    display: inline-block;
    padding: 5px 10px;
    background-color: #454c52;
    color: white;
    font-size: 1em;
    border-radius: 5px;
}

.assignment button {
    margin: 5px 0;
    padding: 5px 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    font-size: 0.9rem;
    cursor: pointer;
    background-color: #e1e1e1;
}

.assignment button:hover {
    background-color: #b7b7b7;
}

.assignment button.aedit {
    color: rgb(56, 56, 56);
}

.assignment button.adelete {
    color: rgb(173, 0, 0);
}

@media (max-width: 768px) {
    .assignment {
        width: 100%;
    }
}