/* General Body Styles */
body {
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container for Form and Heading */
.container {
    width: 400px;
    padding: 25px;
    padding-bottom: 35px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Form Styling */
form {
    margin-top: 20px;
}

/* Form Labels */
form label {
    display: block;
    font-size: 1rem;
    margin-bottom: 8px;
    text-align: center;
    color: #555;
}

/* Date Input Field */
input[type="date"] {
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    transition: all 0.3s ease-in-out;
}

input[type="date"]:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 86, 179, 0.3);
}

form .submits {
    display: flex;
    justify-content: space-between;
}

form div {
    display: flex;
    justify-content: space-between;
}

input[type="submit"].view-week {
    margin-left: auto;
    margin-right: 0;
}

/* Responsive Design */
@media screen and (max-width: 480px) {
    .container {
        width: 90%;
    }
}
